{% extends 'base.html' %}

{% block title %}
    Editoriales
{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="text-center">Historial de Compras</h1>
        <br>
        <table class="table ">
            <thead class = "thead-dark"> 
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">N° Factura</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Importe</th>  
                </tr>
            </thead>
            <tbody>
                {% for order in object_list %}       
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td><a href="{% url 'order-detail' order.pk %}">{{ order.id }}</a></td>
                        <td>{{ order.date }}</td>
                        <td>${{ order.get_total }}</td>
                    </tr>
                {% endfor %}
            </tbody>
            </table>
        <br>

        <div class="my-2">
            {% include 'paginator.html' %}
        </div>

        {% if object_list %}
            <div class="row justify-content-center">
                <a href="{% url 'home' %}" class="btn btn-primary btn-lg mx-1 my-1" role="button">Volver</a>
            </div>    
        {% else %}
            <div class="row justify-content-center">
                <h5>Todavía no se realizaron compras</h5>
            </div>
            <br>
            <div class="row justify-content-center">
                <a href="{% url 'home' %}" class="btn btn-primary btn-lg mx-1 my-1" role="button">Descubrir Libros</a>
            </div>
        {% endif %}
    </div>
{% endblock %}