{% extends 'base.html' %}
{% load django_template_maths %}
{% block title %}Compra{% endblock title %}

{% block content %}
    {% if order.c_profile_pk == user.profile.pk or user.get_group == 'Administradores' %}
        <h1 class="text-center">Factura N° {{ order.id }}</h1>
        <!-- Fecha para pantallas grandes -->
        <h2 class="d-none d-md-block">Fecha: {{ order.date }}</h2>
        <!-- Fecha para pantallas chicas -->
        <h2 class="d-md-none">Fecha: {{ order.date|date:"d/m/y" }}</h2>
        <!-- <h2>Fecha: {{ order.date }}</h1> -->
        <h2>Cliente: <a href="{% url 'profile-detail' order.c_profile_pk %}">{{ order.c_name }}</a></h1>
        <h2>Email: <a href="{% url 'profile-detail' order.c_profile_pk %}">{{ order.c_email }}</a></h1>
        <table class="table ">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Libro</th>
                    <th scope="col" class="text-center">Precio</th>
                    <th scope="col" class="text-center">Cantidad</th> 
                    <th scope="col" class="text-center">Total</th>
                </tr>
            </thead>
            <tbody>
                {% for renglon in order.orderline_set.all %}       
                    <tr>
                        <td><a href="{% url 'book-detail' renglon.b_pk %}">{{ renglon.b_title }}</a></td>
                        <td class="text-center align-middle">${{ renglon.b_price|floatformat:2 }}</td>
                        <td class="text-center align-middle">{{ renglon.quantity }}</td>
                        <td class="text-center align-middle">${{ renglon.get_value|floatformat:2 }}</td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th class="text-align-right" id="total" colspan="3">Total :</th>
                    <td class="text-center align-middle"><strong>${{ order.get_total|floatformat:2 }}</strong></td>
                </tr>
            </tfoot>
        </table>

        <!-- Botón volver al inicio -->
        <div class="row justify-content">
            <a href="{% url 'home' %}" class="btn btn-primary btn-lg mx-auto my-1" role="button">Volver al Inicio</a>
            <a target="_blank" href="{% url 'order-print' order.pk %}" class="btn btn-primary btn-lg mx-auto my-1" role="button">Imprimir comprobante</a>
        </div>


    {% else %}
        <p> Debes ser el propietario o administrador para poder ver la factura.</p>
        <a class="btn btn-primary" href= "{% url 'home' %}">Inicio</a>
    {% endif %}
{% endblock content %}