{% extends 'base.html' %}
{% block title %}Estadísticas{% endblock title %}

{% block content%}
    <div class="text-center">
        <h1>Estadísticas</h1>
        <!-- Búsqueda avanzada -->
        <h2>Búsqueda Resúmen</h2>
        <form class="justify-content-center form-inline my-2 my-lg-0" role="search" action="{% url 'resume-list' %}">
            <input name="day" class="form-control mr-sm-2 mx-auto mx-md-2" type="number" min="1" max="31" placeholder="Día" aria-label="Search">
            <input name="month" class="form-control mr-sm-2 mx-auto mx-md-2" type="number" min="1" max="12" placeholder="Mes" aria-label="Search">
            <input name="year" class="form-control mr-sm-2 mx-auto mx-md-2" type="number" min="2000" max="3000" placeholder="Año" aria-label="Search">
            <button class="btn btn-outline-secondary my-2 my-sm-0 mx-auto mx-md-2" type="submit">Buscar</button>
        </form>
        <br>
        <!-- Listado de Compras -->
        <div class="container">
        <h3 class="text-center">Historial de Compras</h3>
        {% if mensaje %}
            <h3 class="text-center">{{ mensaje }}</h3>
        {% endif %}
        <br>
        <table class="table ">
            <thead class = "thead-dark"> 
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Cliente</th>
                    <th scope="col">Factura N°</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Importe</th>
                </tr>
            </thead>
            <tbody>
                {% for order in object_list %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        {% if order.c_name != 'Sin nombre' %}
                            <td><a href="{% url 'profile-detail' order.c_profile_pk %}">{{ order.c_name }}</a></td>
                        {% else %}
                            <td><a href="{% url 'profile-detail' order.c_profile_pk %}">{{ order.c_email }}</a></td>
                        {% endif %}
                        <td><a href="{% url 'order-detail' order.id %}">{{ order.id }}</a></td>
                        <!-- Fecha para pantallas grandes -->
                        <td class="d-none d-md-block">{{ order.date }}</td>
                        <!-- Fecha para pantallas chicas -->
                        <td class="d-md-none">{{ order.date|date:"d/m/y" }}</td>
                        <td><strong>${{ order.get_total }}</strong></td>
                    </tr>
                {% endfor %}
            </tbody>
            </table>
        <br>

        <div class="my-2">
            {% include 'paginator.html' %}
        </div>

        {% if not object_list %}
        <div class="row justify-content-center">
            <h5><strong>Lista vacía</strong></h5>
        </div>
        {% endif %}
    </div>
{% endblock content %}