# Virtual Enviroment
venv

# Python precompiled files
*.pyc

# Users profile pictures
src/media/users

# Book covers pictures
src/media/book_cover

# SQLite Database
src/db.sqlite3
.vscode/settings.json
