{% extends 'base.html' %}

{% block title %}Dashboard{% endblock title %}

{% block content%}
    <div class="container">
        <h1>Dashboard</h1>
        {% if user.profile.group.name == 'admin' %}

            <h2>Países</h2>
            <ul>
                <li><a class="" href="{% url 'country-new' %}">Agregar país</a></li>
                <li><a class="" href="{% url 'country-list' %}">Modificar/Eliminar país</a></li>
            </ul>

            <h2>Autores</h2>
            <ul>
                <li><a class="" href="#">Agregar autor</a></li>
                <li><a class="" href="#">Modificar/Eliminar autor</a></li>
            </ul>

            <h2>Editoriales</h2>
            <ul>
                <li><a class="" href="#">Agregar editorial</a></li>
                <li><a class="" href="#">Modificar/Eliminar editorial</a></li>
            </ul>

            <h2>Libro</h2>
            <ul>
                <li><a class="" href="#">Agregar libro</a></li>
                <li><a class="" href="#">Modificar/Eliminar libro</a></li>
            </ul>

            <h2>Promoción</h2>
            <ul>
                <li><a class="" href="#">Agregar promoción</a></li>
                <li><a class="" href="#">Modificar/Eliminar promoción</a></li>
            </ul>

            <div class="col-12 text-center">
                <a class="btn btn-primary mx-auto" href="{% url 'home' %}">Volver al Inicio</a>
            </div>
        {% else %}
            <h2>No tienes permitido ver este sitio. No eres administrador.</h2>
            <a class="btn btn-primary" href="{% url 'home' %}">Volver</a>
        {% endif %} 
    </div>
{% endblock content %}