{% load static %}
<!-- Navbar -->
<nav class="navbar navbar-expand-md sticky-top navbar-light bg-light align-items-center">

    <!-- Logo -->
    <div class="justify-content-center">
        <a href="{% url 'home' %}" class="navbar-brand"  id="logo">
            <img src="{% static 'images/LogoCabeza.png' %}" class="img-logo" alt="Logo The Eye Of Minds">
            <img src="{% static 'images/LogoTexto.png' %}" class="img-logo" alt="Logo The Eye Of Minds">
        </a>
    </div>

    <div class="align-right">
        <!-- Icono colapso Búsqueda -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSearch" aria-controls="navbarSearch" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-search"></i>
        </button>

        <!-- Icono colapso Libro -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarBook" aria-controls="navbarBook" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-book"></i><i class="fa fa-caret-down ml-1"></i>
        </button>

        <!-- Icono colapso Usuario -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarUser" aria-controls="navbarUser" aria-expanded="false" aria-label="Toggle navigation">
            {% if user.is_authenticated %}
                <img src="{{ user.profile.picture.url }}" class="profile-image-navbar my-auto" alt="{{ user.profile.picture.url }}"><i class="fa fa-caret-down ml-1"></i>
            {% else %}
                <i class="fa fa-user"></i><i class="fa fa-caret-down ml-1"></i>
            {% endif %}
        </button>
    </div>

    <!-- Navbar colapsable Búsqueda --> 
    <div class="collapse navbar-collapse" id="navbarSearch">
        <!-- Parte central de la navbar -->
        <div class="d-flex mx-auto text-center">
            <form class="form-inline my-2 my-lg-0" role="search" action="{% url 'book-search' %}">
                <input name="q" class="form-control mr-sm-2 d-inline" type="search" placeholder="Buscar" aria-label="Search">
                <button class="btn btn-outline-secondary my-2 my-sm-0 d-inline" type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
    </div><!-- fin Navbar colapsable Búsqueda -->

    <!-- Navbar colapsable Libro --> 
    <div class="collapse navbar-collapse" id="navbarBook">
        <ul class="navbar-nav">
            <!-- Botón Géneros -->
            <a class="nav-item nav-link text-center" href="{% url 'genre-list' %}">Géneros</a>
            <!-- Botón Autores -->
            <a class="nav-item nav-link text-center" href="{% url 'author-list' %}">Autores</a>
            <!-- Botón Editoriales -->
            <a class="nav-item nav-link text-center" href="{% url 'editorial-list' %}">Editoriales</a>
            <!-- Botón Novedades -->
            <a class="nav-item nav-link text-center" href="#">Novedades</a>
            <!-- Botón Ofertas -->
            <a class="nav-item nav-link text-center" href="#">Ofertas</a>
        </ul>
    </div><!-- fin Navbar colapsable Libro -->

    <!-- Navbar colapsable Usuario --> 
    <div class="collapse navbar-collapse" id="navbarUser">
        <ul class="navbar-nav">
            <!-- Botones cuenta -->
            {% if user.is_authenticated %}
                {% if user.profile.group.name == 'admin' %}
                    <button id="sidebarCollapse" class="nav-item nav-link text-center" href="{% url 'dashboard' %}">Dashboard</button>
                {% endif %}
                <a class="nav-item nav-link text-center" href="{% url 'wishlist-list' user.wishlist.id %}"><span class="fa fa-heart fa-lg btn"></span></a>
                <a class="nav-item nav-link text-center" href="{% url 'cart-detail' user.cart.id %}"><span class="fa fa-shopping-cart fa-lg btn"></span></a>
                <a class="nav-item nav-link text-center" href="{{ user.get_absolute_url }}">{{ user.profile }}</a>
                <a class="nav-item nav-link text-center" href="{% url 'user-logout' %}">Salir</a>
                {% else %}
                <a class="nav-item nav-link text-center" href="{% url 'user-login' %}">Iniciar sesión</a>
                <a class="nav-item nav-link text-center" href="{% url 'user-new' %}">Registrarse</a>
            {% endif %}
        </ul>
    </div><!-- fin Navbar colapsable Usuario -->
</nav><!-- fin Navbar -->