{% load static %}
<!-- Navbar -->
<nav class="navbar navbar-expand-md sticky-top navbar-light bg-light align-items-center">

    <!-- Logo -->
    <div class="justify-content-center">
        <a href="{% url 'home' %}" class="navbar-brand"  id="logo">
            <img src="{% static 'images/LogoCabeza.png' %}" class="img-logo" alt="Logo The Eye Of Minds">
            <img src="{% static 'images/LogoTexto.png' %}" class="img-logo" alt="Logo The Eye Of Minds">
        </a>
    </div>

    <div class="align-right">
        <!-- Icono colapso Búsqueda -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSearch" aria-controls="navbarSearch" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-search"></i>
        </button>
    </div>

    <!-- Navbar colapsable Búsqueda --> 
    <div class="collapse navbar-collapse" id="navbarSearch">
        <!-- Parte central de la navbar -->
        <div class="d-flex mx-auto text-center">
            <form class="form-inline my-2 my-lg-0" role="search" action="{% url 'book-search' %}">
                <input name="title" class="form-control mr-sm-2 d-inline" type="search" placeholder="Buscar" aria-label="Search">
                <button class="btn btn-outline-secondary my-2 my-sm-0 d-inline" type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
    </div><!-- fin Navbar colapsable Búsqueda -->

    <!-- Navbar colapsable Libro --> 
    <ul class="navbar-nav align-right align-items-center">
        <!-- Botones libro -->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-book"></i> Libros
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="nav-item nav-link text-center" href="{% url 'genre-list' %}">Géneros</a>
                <a class="nav-item nav-link text-center" href="{% url 'author-list' %}">Autores</a>
                <a class="nav-item nav-link text-center" href="{% url 'editorial-list' %}">Editoriales</a>
                <a class="nav-item nav-link text-center" href="{% url 'book-on-sale' %}">Ofertas</a>
                <a class="nav-item nav-link text-center" href="{% url 'book-list' %}">Todos</a>
            </div>
        </li>
        {% if user.is_authenticated %}
            <!-- Botones cuenta -->
            {% if user.profile.group.name == 'admin' %}
                <button id="sidebarCollapse" class="nav-item nav-link text-center" href="{% url 'dashboard' %}">Dashboard</button>
            {% endif %}
            <a class="nav-item nav-link text-center p-0" href="{% url 'wishlist-list' user.wishlist.id %}"><span class="fa fa-heart btn"></span></a>
            <a class="nav-item nav-link text-center p-0" href="{% url 'cart-detail' user.cart.id %}"><span class="fa fa-shopping-cart fa-lg btn"></span></a>
            <a class="nav-item nav-link text-center p-0" href="{% url 'order-list' %}"><span class="fa fa-credit-card-alt btn"></span></a>
            <a class="nav-item nav-link text-center p-0" href="{{ user.get_absolute_url }}">
                <img src="{{ user.profile.picture.url }}" class="profile-image-navbar mb-1" alt="{{ user.profile.picture.url }}">
            </a>
            <a class="nav-item nav-link text-center p-0" href="{% url 'user-logout' %}"><span class="fa fa-arrow-circle-right fa-lg btn"></span></a>
        {% else %}
            <a class="nav-item nav-link text-center" href="{% url 'user-login' %}">Iniciar sesión</a>
            <a class="nav-item nav-link text-center" href="{% url 'user-new' %}">Registrarse</a>
        {% endif %}
    </ul>
</nav><!-- fin Navbar -->