{% extends 'base_dashboard.html' %}

{% load crispy_forms_tags %}

{% block title %}
    País - Registro
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Agregar País</h1>
        {% if user_group == 'admin' %}
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <a class="btn btn-danger" href="{% url 'country-list' %}">Cancelar</a>
                <input type="submit" value="Agregar" class="btn btn-primary">
            </form>
        {% else %}
            <h2>Necesitas ser administrador para agregar un país</h2>
            <a class="btn btn-primary" href="{% url 'country-list' %}">Volver</a>
        {% endif %}
    </div>
{% endblock %}