{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    {{ object }} - Edición
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Editar perfil de: {{ object }}</h1>
        {% if user.get_group == 'Administradores' and object.get_group != 'Administradores' %}
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                <a class="btn btn-primary" href="{% url 'profile-detail' object.id %}">Cancelar</a>
                <input type="submit" value="Actualizar datos" class="btn btn-primary">
            </form>
        {% else %}
            <h2>No puedes cambiar el grupo de este usuario</h2>
            <a class="btn btn-primary" href="{% url 'profile-detail' object.id %}">Volver</a>
        {% endif %}
    </div>
{% endblock %}