{% extends 'base.html' %}

{% block title %}
    {{ object }}
{% endblock %}

{% block content %}
    <div class="container">
        {% if object.picture %}
            <div class="row">
                <img src="{{ object.picture.url }}" class="profile-image my-3 text-center mx-auto mx-md-1" alt="{{ object.picture.url }}">
                <h1 class="d-block my-auto mx-md-4 col-12 col-md-auto text-center">{{ object }}</h1>
            </div>
        {% else %}
            <h1>Cuenta: {{ object }}</h1>
        {% endif %}
        <br>
        <h2>Grupo: <strong>{{ object.get_group }}</strong>
            {% if user.is_authenticated and user.get_group == 'Administradores' and object.get_group != 'Administradores' %}
                <a href="{% url 'profile-group-update' object.pk %}" class="badge mx-2">Cambiar Grupo</a>
            {% endif %}
        </h2>
        <h3>Nombre: {{ object.first_name }}</h3>
        <h3>Apellido: {{ object.last_name }}</h3>
        <h3>País: {{ object.country }}
            {% if user.is_authenticated and user.get_group == 'Administradores' %}
                <a href="{% url 'country-new' %}" class="badge mx-2">Agregar país</a>
            {% endif %}
        </h3>
        <h3>Teléfono: {{ object.phone }}</h3>
        <br>
        <br>
        {% if can_edit or user.get_group == 'Administradores' %}
            <a href="{% url 'profile-update' object.pk %}">Modificar perfil</a>
            <br>
            <a href="{% url 'user-delete' object.user.pk %}">Eliminar cuenta</a>
        {% endif %}
        <br>
        <a href="{% url 'home' %}" class="btn btn-primary my-3">Inicio</a>
    </div>
{% endblock %}