.navbar-brand, .nav-link {
    font-family: 'Noto Sans JP', sans-serif;
}

h1 {
    font-family: 'Noto Sans JP', sans-serif;
}

.text-justify {
    text-align: justify;
    text-justify: inter-word;
}

.profile-image {
    border-radius: 50%;
    border-style: double;
    height: 100px;
    width: 100px;
}

.img-logo {
    position: relative;
    bottom: 2px;
    width: 70px;
}

.book-cover {
    position: relative;
    height: 400px;
    width: 300px;
}