{% extends 'base.html' %}

{% block title %}
    Wish - List
{% endblock %}

{% block content %}

    {% if can_edit %}
    <h1 class="text-center"> TUS ME GUSTA</h1>
    <table class="table ">
    <thead class = "thead-dark"> 
        <tr>
            <th scope="col">#</th>
            <th scope="col">Libro</th>
            <th scope="col">Precio</th>
            <th scope="col">Comprar</th>  
            <th scope="col">Sacar</th>      
        </tr>
    </thead>
    <tbody>
        {% for book in object_list %}       
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td><a href="{{ book.get_absolute_url }}">{{ book }}</a></td>
                <td>{% if book.discount %}
                            <span class="mr-1"><del>${{ book.price }}</del></span>
                            <span class="card-text badge badge-primary text-wrap">${{ book.get_price }}</span>
                        {% else %}
                            {{ book.price }}
                        {% endif %}</td>
                <td><a href="{{ book.get_add_to_cart }}" class="btn btn-primary">Agregar al carrito</a></td>
                <td><a href="{{ book.get_remove_from_wishlist }}" class="btn btn-danger">Sacar</a></td>
            </tr>
            {% empty %}
            <tr>
                <td>
                    <p> TUS ME GUSTA ESTÁN VACÍOS </p>
                </td>
            </tr>
        {% endfor %}
    </tbody>
    </table>
        {% else %}
            <p> Esta wishlist no te pertenece rufian </p>
            <a href= "{% url 'home' %}">Inicio</a>
    {% endif %}

{% endblock %}