{% extends 'base.html' %}

{% block title %}
    Autores
{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="text-center">Autores</h1>
        <br>
        <ul class="list-group">
            {% for autor in object_list %}
                <li class="list-group-item">
                    <div class="float-left">
                        <a href="{% url 'book-author-list' autor.first_name  autor.last_name %}">{{ autor }}</a>
                    </div>
                    {% if user.is_authenticated and user.profile.group.name == 'admin' %}
                        <div>
                            <a class="mx-3 float-right" href="{% url 'author-delete' autor.id %}">Eliminar</a>
                            <a class="mx-3 float-right" href="{% url 'author-update' autor.id %}">Modificar</a>
                        </div>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
        <br>
        <div class="my-2">
            {% include 'paginator.html' %}
        </div>
        {% if user.is_authenticated and user.profile.group.name == 'admin' %}
            <div class="text-center my-0">
                <a class="btn btn-primary" href="{% url 'author-new' %}">Agregar autor</a>
            </div>
        {% endif %}
    </div>
{% endblock %}