{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Autor
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Agregar Autor</h1>
        {% if user.is_authenticated and user.get_group == 'Administradores' %}
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <a class="btn btn-danger" href="{% url 'author-list' %}">Cancelar</a>
                <input type="submit" value="Agregar" class="btn btn-primary">
            </form>   
        {% else %}
            <h2>Necesitas ser administrador para agregar un autor</h2>
            <a class="btn btn-primary" href="{% url 'author-list' %}">Volver</a>
        {% endif %}
    </div>
{% endblock %}