{% extends 'base.html' %}

{% block title %}Detalle - Libro{% endblock title %}

{% block content %}

    <main class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-6">
                <div class="card mx-auto w-75">
                    <img src="{{ book.cover.url }}" class="card-img-top card-img-size" alt="#">
                    <div class="card-body">
                        <h5 class="card-title text-capitalize font-weight-bold d-inline-block">{{ book.title }}</h5> 
                        <h5 class="text-wrap float-right d-inline-block"><span class="badge badge-success">{{ book.price }} $</span></h5>
                        <p><strong>Género/s: </strong>{% for genre in book.genres.all %} {{ genre }} {% endfor %}</p>
                        {% if user.is_authenticated %}
                            {% if user.profile.group.name == 'admin' %}
                                <a href="#">Agregar nuevo género</a>
                            {% endif %}
                        {% endif %}
                        <p><strong>Autor/es: </strong>{% for author in book.authors.all %} <a href="{% url 'book-author-list' author.first_name author.last_name %}">{{ author }}</a> {% endfor %}</p>
                        {% if user.is_authenticated %}
                            {% if user.profile.group.name == 'admin' %}
                                <a href="#">Agregar nuevo autor</a>
                            {% endif %}
                        {% endif %}
                        <p><strong>Editorial: </strong>{{ book.editorial }}</p>
                        {% if user.is_authenticated %}
                            {% if user.profile.group.name == 'admin' %}
                                <a href="#">Agregar nueva editorial</a>
                            {% endif %}
                        {% endif %}
                        <p class="card-text text-wrap text-justify"><strong>Sinopsis: </strong>{{ book.sinopsis }}</p>
                        <div class="text-center">
                            <form method="post">
                                {% csrf_token %}
                                <input type="submit" class="btn btn-primary" value="Agregar al carro">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

{% endblock content %}