{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Libro - Eliminar
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Eliminar libro</h1>
        {% if user.is_authenticated and user.get_group == 'Administradores' or user.get_group == 'Gerentes' or user.get_group == 'Gestores' %}
            <form method="post">
                {% csrf_token %}
                <p>Está seguro que desea eliminar el libro "<strong>{{ object }}</strong>"?</p>
                <a class="btn btn-warning" href="{% url 'book-admin-list' %}">Cancelar</a>
                <input type="submit" value="Confirmar" class="btn btn-danger">
            </form>
        {% else %}
            <h2>Necesitas ser parte del staff para eliminar un libro</h2>
            <a class="btn btn-primary" href="{% url 'book-admin-list' %}">Volver</a>
        {% endif %}
    </div>
{% endblock %}