{% load static %}
<div class="col-md-6 col-lg-3" style="float:left">
    <div class="card mb-2 text-center border-warning">
        <img class="card-img-top book-cover mx-auto my-auto" src="{{ book.cover.url }}" alt="{{ titulo }}">
        {% if book.discount %}
            <span class="book-discount">{{ book.discount }}</span>
        {% endif %}
        <div class="card-body">
            <h4 class="card-title ">{{ book.title }}</h4>

            {% if book.discount %}
                <span class="mr-1"><del>${{ book.price|floatformat:2 }}</del></span>
                <span class="card-text badge badge-primary text-wrap">${{ book.get_price|floatformat:2 }}</span>
            {%else%}
                <span class="card-text badge badge-primary text-wrap">${{ book.price|floatformat:2 }}</span>
            {% endif %}
            <div class="book-description">
                <p class="text-center text-truncate">{{ book.sinopsis }}</p>
            </div>
            <div class="book-authors mb-2">
                <span class="text-center" >{% for author in book.authors.all %} {{ author }} {% if not forloop.last %}, {% endif %}{% endfor %}</span>
            </div>
            <a href="{{ book.get_absolute_url }}" class="btn btn-primary">VER</a>
            <a href="{{ book.get_add_to_wishlist }}" class="btn btn-danger"><i class="fa fa-heart"></i></a>
        </div>
    </div>
</div>