{% extends 'base.html' %}
{% block title %}Detalle - Libro{% endblock title %}

{% block content %}
    <main class="container">
        <div class="row">
            <div class="col">
                <img src="{{ book.cover.url }}" class="" alt="{{ book.title }}">
            </div>
            <div class="col">
                <div class="row justify-content-center">
                    <h3 class="card-title text-capitalize font-weight-bold d-inline-block">{{ book.title }}</h3>
                </div>
                <p class="text-justify"><strong>Sinopsis: </strong>{{ book.sinopsis }}</p>
                <p><strong>Género/s: </strong>{% for genre in book.genres.all %} {{ genre }}, {% endfor %}</p>
                <p><strong>Autor/es: </strong>{% for author in book.authors.all %} <a href="{% url 'book-author-list' author.first_name author.last_name %}">{{ author }},</a> {% endfor %}</p>
                <p><strong>Editorial: </strong>{{ book.editorial }}</p>
                <p>
                    {% if book.discount %}
                        <h5 class="text-right"><del>${{ book.price }}</del></h5>
                        <h2 class="text-right">${{ book.get_price }} <span class="badge badge-success">{{ book.discount.value }}% OFF</span></h2>
                    {% else %}
                        <h2 class="text-right">${{ book.get_price }}</h2>
                    {% endif %}
                </p>
                <div class="text-center">
                    {% comment %}
                    <form method="post">
                        {% csrf_token %}
                        <input type="submit" class="btn btn-primary" value="Agregar al carro">
                    </form>
                    {% endcomment %}
                    <a href="{{ book.get_add_to_cart }}" class="btn btn-primary">Agregar al carro</a>
                </div>
            </div>
        </div>
    </main>
{% endblock content %}