{% extends 'base_dashboard.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Libro - Edición
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Editar Libro</h1>
        {% if user_group == 'admin' %}
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                <a class="btn btn-danger" href="{% url 'book-admin-list' %}">Cancelar</a>
                <input type="submit" value="Editar" class="btn btn-primary">
            </form>
        {% else %}
            <h2>Necesitas ser administrador para editar un libro</h2>
            <a class="btn btn-primary" href="{% url 'book-admin-list' %}">Volver</a>
        {% endif %}
    </div>
{% endblock %}