{% extends 'base.html' %}
{% block title %}Libros{% endblock title %}

{% block content%}
    <div class="text-center">
        <h1>Libros</h1>
        <!-- Búsqueda avanzada -->
        <h1>Búsqueda avanzada</h1>
        <form class="form-inline my-2 my-lg-0 justify-content-center" role="search" action="{% url 'book-search' %}">
            <input name="title" {% if titulo %} value="{{ titulo }}" {% endif %} class="form-control mr-sm-2 mx-auto mx-md-2" type="search" placeholder="Titulo..." aria-label="Search">
            <select class="custom-select form-control mr-sm-2 mx-auto mx-md-2" name="author">
                {% if autor %} 
                    <option selected >{{ autor }}</option>
                    <option >Autor...</option>
                {% else %}
                    <option selected >Autor...</option>
                {% endif %}
                {% for a in autores %}
                    <option value="{{ a }}">{{ a }}</option>
                {% endfor %}
            </select>
            <select class="custom-select form-control mr-sm-2 mx-auto mx-md-2" name="genre">
                {% if genero %} 
                    <option selected >{{ genero }}</option>
                    <option >Género...</option>
                {% else %}
                    <option selected >Género...</option>
                {% endif %}
                {% for g in generos %}
                    <option value="{{ g }}">{{ g }}</option>
                {% endfor %}
            </select>
            <select class="custom-select form-control mr-sm-2 mx-auto mx-md-2" name="editorial">
                {% if editorial %} 
                    <option selected >{{ editorial }}</option>
                    <option >Editorial...</option>
                {% else %}
                    <option selected >Editorial...</option>
                {% endif %}
                {% for e in editoriales %}
                    <option value="{{ e }}">{{ e }}</option>
                {% endfor %}
            </select>
            
            <button class="btn btn-outline-secondary my-2 my-sm-0 mx-auto mx-md-2" type="submit">Buscar</button>
        </form>
        <br>    
        <!-- Listado de libros -->
        {% for book in object_list %}
            {% include 'market/book_card.html' %}
        {% endfor %}
        <br>
        <div class="row justify-content-center">
            {% include 'paginator.html' %}
        </div>
    </div>
{% endblock content %}