<!-- Titular OFERTAS -->
<div class = "container my-3">
    <div class = "row">
        <div class = "col-12">
            <h1 class="text-center">OFERTAS<i class="fa fa-gift ml-2"></i></h1>
        </div>
    </div>
</div><!--Spacer para ofertas -->

<!--Carousel Ofertas -->
<div id="carouselOfertas1" class="carousel slide carousel-multi-item" data-ride="carousel">

    <!--Slides-->
    <div class="carousel-inner" role="listbox">
        <!--First slide-->
        <div class="carousel-item active">
            {% for book in book_list_sale|slice:":4" %}
                {% include 'market/book_card.html' %}
            {% endfor %}
        </div><!--/.First slide-->
        
        <!--Second slide-->
        <div class="carousel-item">
            {% for book in book_list_sale|slice:"4:" %}
                {% include 'market/book_card.html' %}
            {% endfor %}
        </div><!--/.Second slide-->
    </div><!--/.Slides-->

    <!--Controls-->
    <a class="carousel-control-prev" href="#carouselOfertas1" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon p-3 carousel-arrow-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselOfertas1" role="button" data-slide="next">
        <span class="carousel-control-next-icon p-3 carousel-arrow-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a><!--/.Controls-->
</div>

<!--Titular ÚLTIMOS LIBROS -->
<div class = "container mt-5 mb-3">
    <div class = "row">
        <div class = "col-12">
            <h2 class="text-center">ÚLTIMOS LIBROS<i class="fa fa-book ml-2"></i></h2>
        </div>
    </div>
</div><!--Spacer para últimos libros -->

<!--Carousel Últimos Libros -->
<div id="categoriaDestacada1" class="carousel slide carousel-multi-item" data-ride="carousel">

    <!--Slides-->
    <div class="carousel-inner" role="listbox">
        <!--First slide-->
        <div class="carousel-item active">
            {% for book in book_list|slice:":4" %}
                {% include 'market/book_card.html' %}
            {% endfor %}
        </div>
        <!--/.First slide-->

        <!--Second slide-->
        <div class="carousel-item">
            {% for book in book_list|slice:"4:" %}
                {% include 'market/book_card.html' %}
            {% endfor %}
        </div><!--/.Second slide-->
    </div>

    <!--Controls-->
    <a class="carousel-control-prev" href="#categoriaDestacada1" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon p-3 carousel-arrow-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#categoriaDestacada1" role="button" data-slide="next">
        <span class="carousel-control-next-icon p-3 carousel-arrow-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a><!--/.Controls-->
</div>