{% extends 'base_dashboard.html' %}

{% block title %}
    Editoriales
{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="text-center">Editoriales cargadas</h1>
        </br>
        <ul class="list-group">
            {% for editorial in object_list %}
                <li class="list-group-item">
                    <div class="float-left">
                        <a href="{% url 'book-editorial-list' editorial.name %}">{{ editorial.name }}</a>
                    </div>
                    {% if user_group == 'admin' %}
                        <div>
                            <a class="mx-3 float-right" href="{% url 'editorial-delete' editorial.id %}">Eliminar</a>
                            <a class="mx-3 float-right" href="{% url 'editorial-update' editorial.id %}">Modificar</a>
                        </div>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
        {% if user_group == 'admin' %}
        <div class="text-center my-3">
            <a class="btn btn-primary" href="{% url 'editorial-new' %}">Agregar editorial</a>
        </div>
        {% endif %}
    </div>
{% endblock %}