{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
    Género - Edición
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Editar Género</h1>
        {% if user_group == 'admin' %}
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <a class="btn btn-danger" href="{% url 'genre-list' %}">Cancelar</a>
                <input type="submit" value="Editar" class="btn btn-primary">
            </form>
        {% else %}
            <h2>Necesitas ser administrador para editar un género</h2>
            <a class="btn btn-primary" href="{% url 'genre-list' %}">Volver</a>
        {% endif %}
    </div>
{% endblock %}