{% extends 'base.html' %}

{% block title %}
    Géneros
{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="text-center">Géneros cargados</h1>
        </br>
        <ul class="list-group">
            {% for genero in object_list %}
                <li class="list-group-item">
                    <div class="float-left">
                        <a href ="{% url 'book-list-view' genero.name %}" >{{ genero.name }}</a>
                    </div>
                    {% if user_group == 'admin' %}
                        <div>
                            <a class="mx-3 float-right" href="{% url 'genre-delete' genero.id %}">Eliminar</a>
                            <a class="mx-3 float-right" href="{% url 'genre-update' genero.id %}">Modificar</a>
                        </div>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
        {% if user_group == 'admin' %}
        <div class="text-center my-3">
            <a class="btn btn-primary" href="{% url 'genre-new' %}">Agregar género</a>
        </div>
        {% endif %}
    </div>
{% endblock %}