{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}
    <!-- Titular OFERTAS -->
    <div class = "container my-3">
        <div class = "row">
            <div class = "col-12">
                <h1 class="text-center">OFERTAS<i class="fa fa-gift ml-2"></i></h1>
            </div>
        </div>
    </div><!--Spacer para ofertas -->

    <!--Carousel ofertas Wrapper-->
    <div id="carouselOfertas" class="carousel slide carousel-multi-item" data-ride="carousel">

        <!--Controls-->
        <div class="controls-top text-center">
            <a class="btn-floating" href="#carouselOfertas" data-slide="prev"><i class="fa fa-lg fa-chevron-left"></i></a>
            <a class="btn-floating" href="#carouselOfertas" data-slide="next"><i class="fa fa-lg fa-chevron-right"></i></a>
        </div>
        <!--/.Controls-->

        <!--Indicators-->
        <ol class="carousel-indicators">
            <li data-target="#carouselOfertas" data-slide-to="0" class="active"></li>
            <li data-target="#carouselOfertas" data-slide-to="1"></li>
        </ol>
        <!--/.Indicators-->

        <!--Slides-->
        <div class="carousel-inner" role="listbox">

            <!--First slide-->
            <div class="carousel-item active">
                {% for book in book_list_sale|slice:":4" %}
                    {% include 'market/book_card.html' %}
                {% endfor %}
            </div>
            <!--/.First slide-->

            <!--Second slide-->
            <div class="carousel-item">
                {% for book in book_list_sale|slice:"4:" %}
                    {% include 'market/book_card.html' %}
                {% endfor %}
            </div>
        </div>
    </div>
    
    <!--Spacer para productos destacados -->
    <div class = "container my-5">
        <div class = "row">
            <div class = "col-12">
                <h2 class="text-center">ÚLTIMOS LIBROS<i class="fa fa-book ml-2"></i></h2>
            </div>
        </div>
    </div><!--Spacer para productos destacados -->

    <!--Carousel Wrapper-->
    <div id="categoriaDestacada" class="carousel slide carousel-multi-item" data-ride="carousel">

        <!--Controls-->
        <div class="controls-top text-center">
            <a class="btn-floating" href="#categoriaDestacada" data-slide="prev"><i class="fa fa-lg fa-chevron-left"></i></a>
            <a class="btn-floating" href="#categoriaDestacada" data-slide="next"><i class="fa fa-lg fa-chevron-right"></i></a>
        </div>
        <!--/.Controls-->

        <!--Indicators-->
        <ol class="carousel-indicators">
            <li data-target="#categoriaDestacada" data-slide-to="0" class="active"></li>
            <li data-target="#categoriaDestacada" data-slide-to="1"></li>
        </ol>
        <!--/.Indicators-->

        <!--Slides-->
        <div class="carousel-inner" role="listbox">

            <!--First slide-->
            <div class="carousel-item active">
                {% for book in book_list|slice:":4" %}
                    {% include 'market/book_card.html' %}
                {% endfor %}
            </div>
            <!--/.First slide-->

            <!--Second slide-->
            <div class="carousel-item">
                {% for book in book_list|slice:"4:" %}
                    {% include 'market/book_card.html' %}
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock content %}
